<div class="container">

<div class="form">

<div class="row">
    <div class="col-sm">
<div class="container-imagem">
<div class="imagem-login"> 
    <img src="../../assets/img/logo.jpg" alt="Descrição da imagem">
    <h2>FightFinder</h2>
    </div>
</div>
</div>

    <div class="row">
        <div class="col-sm">
    <div class="form">
        <h1>LOGIN</h1>
    </div>
</div>

        <div class="row">
            <div class="col-sm">
        <label for="email">E-mail</label> <br>
        <input type="text" id="email" name="email" required>
    </div>
</div>

        <div class="row password" >
            <div class="col-sm">
        <label for="senha">Senha</label> <br>
        <input type="password" id="senha" name="senha" required >
    </div>
</div>
</div>

<div class="container-imagem2">

        <div class="row">
            <div class="col-sm">
        <button class="btn-padrao-confirm" [routerLink]="['/menuInicial']">Entrar</button>
    </div>
</div>

        <div class="row">
            <div class="col-sm">
        <button class="btn-padrao-cancel" [routerLink]="['/']">Cancelar</button>
    </div>
</div>

    <div class="row">
        <div class="col-sm">
    <button class="btn-padrao-ajuda" [routerLink]="['/esqueciSenha']">Esqueci minha senha </button>
    </div>
</div>
</div>
</div>

