@import '../../styleSass.css';

h1{
  text-align: center;
  margin-top: 15%;
}

h2{
  margin-top: 3%;
}

.form div {
margin: 5px;

}

.form{
  margin-top: 5%;
}
.container-imagem{
  align-items: center;
  text-align: center;
  width: 100%;
  height: 180%;
}

.imagem-login{
  width: 120%;
  height: 180%;
}

.container-imagem2{
  text-align: center;
  width: 100%;
  height: 100%;
}



.btn-padrao-cancel, .btn-padrao-confirm{
  padding: 4%; /* Ajuste o preenchimento conforme necessário */
  width: 70%; /* Defina a largura desejada em porcentagem */
  height: 90%; /* Defina a altura desejada em porcentagem */
}

.btn-padrao-ajuda{
  padding: 4%; /* Ajuste o preenchimento conforme necessário */
  width: 60%; /* Defina a largura desejada em porcentagem */
  height: 50%; /* Defina a altura desejada em porcentagem */
  margin-top: 10%;
}