<div class="toda">    
    <div *ngIf="treinador">

    <div class="container-imagem">
        <div class="imagem-login">
            <img [src]="treinador.foto || '../../assets/img/perfil.png'" alt="Foto do treinador">
          
        <h3>{{ treinador.nome}}</h3>
    
    <p>Modalidade: {{ treinador.modalidade}}</p>
    
        </div>
    </div>
    
    <div class="dados">
    <div class="dados-pessoais">
    <h5>Dados pessoais </h5>
    <p> <span class="destaque">Id:</span> {{ treinador.id}} </p>
    <p> <span class="destaque">Idade:</span> {{ treinador.idade}}</p>
    <p><span class="destaque">Status:</span> {{ treinador.ativo ? 'Ativo' : 'Inativo' }}</p>
    </div>
    
   
    <div style="margin-top: 15%; margin-bottom: 10%; margin-left: 3%;">
        <h4 style="margin-bottom: 2%;">Presenças e faltas</h4>
    
    <p style="text-align: center;">Clique em cima de uma data para editar a informação</p>
    
        <table class="table-presencasfaltas">
            <thead>
                <tr *ngFor="let treinador of treinadoresAula">
                    <th scope="col">Presenças</th>
                    <th scope="col">Faltas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{treinador.nome}}</td>
                    <td>{{treinador.nome}}</td>
                </tr>
            </tbody>
        </table>
    
        <div class="botoes">
            <button class="btn-padrao-confirm" [routerLink]="['/produto/editar', treinador.id]">Editar</button>
            <button class="btn-padrao-cancel" [routerLink]="['/treinador']">Cancelar</button>
        </div>

      </div>
        <app-menunav></app-menunav>
    