
  <h2>Gerar lutas</h2>

  <div>
    <h4>Treinadores</h4>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle class2" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Selecionar
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item"
            (click)="filtroSelecionado = 'treinadoresPresentes'; filtrarTreinadores()">Treinadores Presentes</a></li>
        <li><a class="dropdown-item" (click)="filtroSelecionado = 'treinadoresAtivos'; filtrarTreinadores()">Treinadores
            ativos</a></li>
      </ul>
    </div>
  </div>

  <div class="treinadores" style="margin-top: 10%;">
    <h3>Treinadores</h3>
  </div>

  <table class="table" style="margin-top: 7%;">
    <thead>
      <tr>
        <th></th>
        <th>Foto</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let treinadorAula of listaTreinadorAula">
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="presente" name="presente"
              [(ngModel)]="treinadorAula.presente" (change)="onTreinadorChange(treinadorAula, $event)">
          </div>
        </td>
        <td><img [src]="treinadorAula.treinador.foto || '../../../assets/img/perfil.png'" alt="Foto do lutador"
            style="width: 60px; height: 60px;"></td>
        <td> {{treinadorAula.treinador.nome}}</td>
      </tr>
    </tbody>
  </table>


  <div class="dropdown" style="margin-top: 8%; margin-bottom: 10%;">
    <button class="btn btn-secondary dropdown-toggle class2" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Selecionar 
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)="filtroSelecionado = 'alunosDaTurma'; filtrarLutadores()">Lutadores
          presentes</a></li>
      <li><a class="dropdown-item" (click)="filtroSelecionado = 'todosLutadoresAtivos'; filtrarLutadores()">Lutadores
          ativos</a></li>

    </ul>
  </div>

  <div class="treinadores" style="margin-top: 10%;">
    <h3>Lutadores</h3>
  </div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Foto</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lutadorAula of listaLutadorAula">
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="presente" name="presente"
            [(ngModel)]="lutadorAula.presente" (change)="onLutadorChange(lutadorAula, $event)">
        </div>
      </td>
      <td><img [src]="lutadorAula.lutador.foto || '../../../assets/img/perfil.png'" alt="Foto do lutador"
          style="width: 60px; height: 60px;"></td>
      <td>{{lutadorAula.lutador.nome}}</td>
    </tr>
  </tbody>
</table>

<h5 style="margin-top: 8%; margin-bottom: 8%;">Selecione os filtros para essa luta.</h5>
<p>Marque/preencha apenas o que voce quer que seja um filtro para separar as lutas. </p>

<div class="form-check" style="margin-bottom: 10%; margin-left: 10%; margin-top: 5%;">
  <input class="form-check-input" style="padding: 3%; width: 5%; margin-bottom: 5%;" type="checkbox" id="genero">
  <p>Filtro de gênero</p>
</div>

<div class="form-check" style="margin-bottom: 10%; margin-left: 10%;">
  <input class="form-check-input" style="padding: 3%; width: 5%; margin-bottom: 0%;" type="checkbox"isColorida id="">
  <p>Filtro nível/faixa</p>
</div>

<div class="form-group">
  <label for="idade">Se quiser utilizar o filtro IDADE preencha o intervalo máximo de idade</label>
  <input type="number" [(ngModel)]="varIdade" id="idade" name="idade">
</div>


  <div class="form-group" style="margin-bottom: 10%;">
    <label for="peso"> Se quiser utilizar o filtro peso preencha o intervalo máximo de PESO (kilos)</label>
    <input type="number" id="peso" placeholder="ex.:10" [(ngModel)]="varPeso">
  </div>


  <div class="form-group" style="margin-bottom: 10%;">
    <label for="altura"> Se quiser utilizar o filtro ALTURA preencha o intervalo máximo de ALTURA (centímetros) </label>
    <input type="number" placeholder="ex.:175" [(ngModel)]="varAltura" id="altura">
  </div>

  <div class="botoes">
    <button class="btn-padrao-confirm" [routerLink]="['/lutaResultado']">Salvar</button>
    <button class="btn-padrao-cancel" [routerLink]="['/aula']">Cancelar</button>
  </div>

  <app-menunav></app-menunav>
