@import '../../styleSass.css';

.form-switch {
    padding-left: 2.5em;
}
.form-check-input[type=checkbox] {
    padding: 30%;
    width: 80%;
}

input, button, table, label,p, h5, h2, h4, h3{
    margin-left: 5%;
    margin-right: 5%;
}
.tela-toda{
    padding-right: 4%;
    padding-left: 6%;
}

h2{
    margin-top: 10%;
    margin-bottom: 5%;
}

.class2{
    background-color: hsl(0, 79%, 34%);
    border: hsl(0, 79%, 34%);
    margin-top: 3%;
}
.form-group label {
    display: block;
}

.form-group input {
    display: block;
border: solid 1px rgb(166, 166, 166);    
border-radius: 2%;
}

.form-check-label{
margin-right: 2%;
}

.form-group{
    margin-top: 2%;
    margin-bottom: 2%;
}

input{
    width: 80%;
    padding: 3%;
}

/* Aumenta o tamanho do botão de alternância */
.form-check-input input{
    width: 80%;   /* Largura do botão */
    padding: 25%;  /* Altura do botão */
}

input[_ngcontent-ng-c355784425] {
    width: 90%;
    padding: 35%;
    border: hsl(0, 79%, 34%);
}

.form-check-input[_ngcontent-ng-c355784425]:checked {
    background-color: #001a71;
}
/* Muda o fundo e a posição da bolinha quando o toggle switch está ativado */
.form-check-input:checked {
    background-color: #001a71; /* Cor de fundo vermelho quando checado */

}

.form-check-input:checked::before {
    transform: translateX(26px); /* Move a bolinha para a direita quando ativado */
   
}

.btn-padrao-confirm, .btn-padrao-cancel{
   width: 40%;
   padding: 3%;  
}

.botoes button {
    display: block;
    margin-bottom: 10px; /* Opcional: adicione margem inferior para espaçamento entre os botões */
}

.botoes {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.genero{
    margin-bottom: 10%;
}

.nivel{
    margin-bottom: 10%;
}

