@import '../../components/styleSass.css';



.container{
    padding: 3;
    align-items: center;
background-color: hsl(0, 79%, 34%);
    color: #FFF;
    text-align: center;
    margin-bottom: 5%;
}

p{
    margin-top: 3%;
}

