<div class="container">

<div class="row">
  <div class="col-sm">
<h2 class="tituloAjuda">Dúvidas - Ajuda </h2>
</div>
</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Para gerar lutas eu preciso fazer a lista de presença?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse"  data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Não, você pode gerar lutas mesmo sem ter feito a lista de presença. Mas com a lista, isso facilita, pois todos já estarão selecionados para qualquer sorteio que você for fazer. Caso não haja lista, a cada sorteio você terá que selecionar os participantes manualmente.
            </div>
        </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Posso fazer a lista de presença mesmo em dias que não tiver lutas? 
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Sim, a funcionalidade lista de presença é separada da funcionalidade gerar lutas. Essa funcionalidade pode ajudar no monitaramento da escola.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Como os participantes podem registrar sua presença? 
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        Os participantes podem eles mesmos registrar sua presença a partir de um link da aula do dia que será compartilhado pelo responsável da escola.
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Como registro os resultados das lutas? 
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Os resultados das lutas podem ser registrados quando existe uma luta inicada, você clica nessa luta e abre as opções de registro de resultados e de comentários também sobre cada lutador.
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            Uma pessoa pode ser treinador e aluno ao mesmo tempo? 
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Sim, mas ele deve ter um cadastro tanto de de treinador quanto um perfil de aluno e nas rodadas de luta deve ser adicionado o papel esperado desse participante. 
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
            É obrigatório ter um treinador para cada luta? 
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Não, se você quiser apenas sortear as lutas aqui pelo sistema e decidir o treinador depois entre os mebros da equipe pessoalmente isso pode ser feito. 
        </div>
        </div>
      </div>
    </div>
  </div>
    
    <div class="suporte">
   <p> Contato suporte técnico suporte-tecnico.com </p>
</div>

<app-menunav></app-menunav>
