@import '../../styleSass.css';

.table-presencasfaltas[_ngcontent-ng-c620385470] td[_ngcontent-ng-c620385470], th[_ngcontent-ng-c620385470], tr[_ngcontent-ng-c620385470] {
  padding: 5%;
}
.form-check-input[type=checkbox] {
  padding: 3%;
  margin-right: 3%;
}
.form-check[_ngcontent-ng-c3676437276] p[_ngcontent-ng-c3676437276] {
  margin-left: 6%;
height: 0px;
}

.form-check-input[type=checkbox]:checked {
  background-color:  #001a71;
  border-color: hsl(0, 79%, 34%);
}

.form-check{ 
  display: flex;
    flex-direction: row;

}

.form h3{
    text-align: center;
    color: #001a71;
}

.radio-quebra-de-linha{
    margin-bottom: 8%;
}

button{
    width: 8%;
    margin-right: 2px;
}

.center-horizontal2 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    padding-top: 2%;
}

.form{
    margin-left: 5%;
  }

  .center-horizontal {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
  }
  
  .center-horizontal2[_ngcontent-ng-c2398611961] {
padding-top: 5%;
  }

  .table-comentarios{
    margin-top: 1%;
  }

  .table-presencasfaltas{
width: 60%;
  }

  td, th{
  border-bottom: solid 1px rgb(209, 209, 209);
  text-align: center;
  padding: 4%;
  width: 2%;

  }

  .table-comentarios{
    width: 95%;
  }

  .table-presencasfaltas td, th, tr{
    padding: 10%;
  }

  .table-presencasfaltas{
    font-size: 18px;

  }

  .btn-padrao-edit{
    padding: 8%;
    width: 130%;
  }

  .btn-padrao-confirm,
  .btn-padrao-cancel {
      width: 30%;
      padding: 2%;
      display: block;
      margin: 0 auto; /* Isso centraliza horizontalmente os botões */
  }

  .btn-padrao-confirm{
    margin-bottom: 2%;
  }
  