@import '../../styleSass.css';

*{
    box-sizing: border-box;
}
.class1{
    background-color:  hsl(0, 79%, 34%);
    padding: 3%;
}

.class2{
  background-color: #001a71;
}
.pg-total{
    margin-left: 2%;
}

.btn-padrao{
    width: 50%;
    padding: 2%;
    margin-bottom: 0%;
}


.botoes{ 
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form{ 
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
}

.btn-padrao-cancel{
    margin-bottom: 5%;
    padding: 3%;
    width: 30%;
}

.btn-padrao-confirm{
    margin-top: 10%;
    padding: 3%;
    width: 30%;

}

.data input{
    height: 50px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 6%;
    border-color: rgb(145, 145, 145);
    
}

h2{
    margin-top: 0%;
}

app-footer{
    height: 30%;
}

.dropdown{
    margin-bottom: 15%;
    margin-top: 10%;
}

.form-check{
    display: flex;
    justify-content: center;
  }

  .form-check-input:checked {
    background-color:  #001a71;
    border-color: hsl(0, 79%, 34%);
  }

  h3{
    color: #001a71;
    text-align: center;
  }
  
  .form-check-input{
    width: 70%;
    padding: 35%;
  }

  table{
    width: 95%;
  }
  tr{ 
    padding: 1%;
  }
  td{
    width: 8%;
    
  }
  
  .form-check-input[_ngcontent-ng-c3589269004] {
    width: 50%;
    padding: 23%;
}
  