@import '../../components/styleSass.css';

input{ 
    margin-bottom: 3%;

}

.btn-padrao{ 
    margin-bottom: 5%;
    margin-top: 5%;
}


input{
    margin-right: 2%;
}

*{
    margin-left: 3%;

}

textarea{
    margin-left: 0px;
    width: 70%;
}

.form-floating{
    margin-bottom: 3%;
}

label {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha os itens à esquerda */
  }
  
  .hidden-radio {
    margin-right: 8px; /* Ajuste a margem conforme necessário */
  }

  .comentario{
    margin-top: 7%;
    margin-bottom: 7%;

  }

  .lutador p{
    margin-left: 7%;
    font-size: large;
    font-weight: 500;
  }

  .lutador{
    margin-top: 5%;
  }
  .resultado p{
    margin-left: 7%;
    font-size: large;
    font-weight: 500;
  }

  textarea {
    border-radius: 3%;
    border: solid 1px rgb(134, 134, 134);
color: black;
width: 80%;
  }

  element.style {
    height: 200px;
}

textarea:focus {
    outline: 1px solid  hsl(0, 79%, 34%);
    box-shadow: 0px 0px 10px #5a5a5a;

}

h3{
    text-align: center;
}
.button{
    display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 3%;
}

.btn-padrao{
    padding: 4%;

}

.comentario label{
    font-size: large;
    font-weight: 500;
    padding: 0%;
}


.custom-radio{
  padding: 3%;
  margin-bottom: 3%;
}

label{ 
  font-size: 110%;
}

input[type='radio']:checked + span {
  background-color: #001a71; 
  box-shadow: 0px 0px 10px #767676; 
  border: none;
}