<div class="form">

    <h3>Formulário do Aluno</h3>

    <div>
        <label for="id">ID</label>
        <input type="text" id="id" readonly [(ngModel)]="lutadorEditado.id">
    </div>

    <div>
        <label for="nome">Nome</label>
        <input type="text" id="nome" [(ngModel)]="lutadorEditado.nome">
    </div>

<div>
    <label for="idade">Idade</label>
    <input type="text" id="idade" [(ngModel)]="lutadorEditado.idade">
</div>

<div>
    <label for="nivel">Modalidade</label>
    <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="modalidade" [(ngModel)]="lutadorEditado.modalidade">
        <option value="Taekwondo">Taekwondo</option>
        <option value="Karatê">Karatê</option>
        <option value="Jiu-jitsu">Jiu-jitsu</option>
        <option value="Muay-Thai">Muay-Thai</option>
        <option value="Outro">Outro</option>
      </select>
</div>

<div>

    <label for="nivel">Nível</label>
    <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="nivel" [(ngModel)]="lutadorEditado.nivel">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>

      </select>

<div>
    <label for="peso">Peso</label>
    <input type="text" id="peso" [(ngModel)]="lutadorEditado.peso">
</div>

<div>
    <label for="altura">Altura</label>
    <input type="text" id="altura" [(ngModel)]="lutadorEditado.altura">
</div>
    
<div class="input-radio">
    <input type="radio" id="Feminino" name="genero" 
    [checked]="lutadorEditado.genero" value="{{ lutadorEditado.genero}}">
    <label for="Feminino">Feminino</label>
    
    <input type="radio" id="Masculino" name="genero" 
    [checked]="!lutadorEditado.genero" value="{{ !lutadorEditado.genero}}"> 
    <label for="Masculino">Masculino</label>

    <div class="input-radio">
        <input type="radio" id="true" name="ativo" 
        [checked]="lutadorEditado.ativo" value="{{ lutadorEditado.ativo}}">
        <label for="true">Ativo</label>
        
        <input type="radio" id="false" name="ativo" 
        [checked]="!lutadorEditado.ativo" value="{{ !lutadorEditado.ativo}}"> 
        <label for="false">Inativo</label>
    
<div>
    <button class="btn-padrao"(click)="salvarDados()">Salvar</button>
    <button class="btn-padrao" (click)="cancelar()">Cancelar</button>

</div>
</div>