@import '../../components/styleSass.css';

*{ 
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.custom-margin {
    margin-bottom: 20%;
  }

  .row {
    display: inline;
  }
  
.col-sm, .row{
    padding: 0px;
    margin: 0px;
}

.btn-padrao-confirm{
  margin-top: 7%;
  width: 50%;
  padding: 3%;
  }
  
  .btn-padrao-cancel{
      width: 50%;
      padding: 3%;
      }
  
.botoes, h3{ 
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.form-group{
    margin-top: 10%;
    
}

h3{
    width: 100%;
}


      .form{
        margin-left: 5%;
      }

      .center-horizontal {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
      }

      .center-horizontal2 {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; 
        padding-top: 10%;
    }

    p {
      font-weight: 500;
      margin-bottom: 2%;
  }
      
      