
    
    <div class="toda">
        <app-header></app-header>

        
        <div class="container-imagem">
    <div class="imagem-login"> 
        <img src="../../assets/img/perfil.png" alt="Descrição da imagem">
        <h3>Centro de treinamaento Alves e Valindolfo</h3>
    
    <p>Modalidade: Taekwondo</p>
    
        </div>
    </div>
    
    <div class="dados">
    <div class="dados-pessoais">
    <h5>Dados de cadastro </h5>
    <p> <span class="destaque">Id:</span> 01 </p>
    <p> <span class="destaque">E-mail:</span> xxxxxxxx.com </p>
    </div>
    
    
      </div>
        <app-menunav></app-menunav>
    <app-footer></app-footer>
    