<app-header></app-header>

<div class="tela-margim">
<h3>Editar Feedback</h3>

<div class="botoes">
    <button class="btn-padrao">Excluir o feedback</button>

    <button class="btn-padrao"> Excluir o resultado</button>

    <button class="btn-padrao"> Excluir o comentário</button>

    </div>

<div class="comentario">
    <label for="">Comentário</label>
    <div class="form-floating">
        <textarea class="form-control" #descricao placeholder="Comentário sobre o lutador...(opcional)" id="floatingTextarea2" style="height: 100px"></textarea>
    </div>
    </div>

    <div class="resultado">
    <p>Resultado</p>
    <label>
  <input type="radio" value="vitoria" class="hidden-radio" />
  <span class="custom-radio"  for=""></span>
  Vitória
</label>

<label>
  <input type="radio" value="derrota" class="hidden-radio" />
  <span class="custom-radio"  for=""></span>
  Derrota
</label>

<label>
  <input type="radio" value="empate" class="hidden-radio" />
  <span class="custom-radio"  for=""></span>
  Empate
</label>
</div>  

<div class="button">
    <button class="btn-padrao">Adicionar Informações</button>
  </div>

</div>
  <app-menunav>  </app-menunav>
  
  <app-footer></app-footer>
