@import '../styleSass.css';


img { 
    border-radius: 30%;
}

.table-responsive{
    align-items: center;
}

h1{
    text-align: center;
    margin-bottom: 10%;
    margin-top: 15%;
}

.espacamento{
    margin-bottom: 30%;
}