<app-header> </app-header>

<div class="tela-login"> 
    <img src="../../assets/img/logo.jpg" alt="Descrição da imagem">
    <h1>FightFinder</h1>
    </div>

    <div class="form">

        <h1>LOGIN</h1>

    <div>
        <label for="email">E-mail</label> <br>
        <input type="string" id="email" [(ngModel)]="escolaLogin.email" required>
    </div>

    <div>
        <label for="senha">Senha</label> <br>
        <input type="text" id="senha" [(ngModel)]="escolaLogin.senha" required >
    </div>

    <div>
        <button class="btn-padrao-confirm">Entrar</button>
        <button class="btn-padrao-cancel" >Cancelar</button>
    
    </div>
</div>


<app-footer> </app-footer>



