<div class="container">

  <div style="margin-top: 5%; text-align: center; margin-bottom: 7%;">
  <button class="btn-padrao-edit" [routerLink]="['/aulaEditar', aula.id]">Editar aula</button>
  <button class="btn-padrao-edit" [routerLink]="['/gerarLuta']">Gerar Lutas</button>
</div>

  <h1>Lista de {{ isPresente ? 'presentes' : 'ausentes' }}</h1>
  <h3>{{ isPresente ? 'Lutadores presentes' : 'Lutadores ausentes' }}</h3>

  <div class="filtro">
    <button class="btn-padrao" (click)="toggleListas()">Mostrar {{ isPresente ? 'ausentes' : 'presentes' }}</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lutadorAula of lutadoresAula">
        <td><img [src]="lutadorAula.lutador.foto || '../../../assets/img/perfil.png'" alt="Foto do lutador"
            style="width: 60px; height: 60px;">
        </td>
        <td>{{lutadorAula.lutador.nome}}</td>
      </tr>
    </tbody>
  </table>

  <div class="container">

    <h3>{{ isPresente ? 'Treinadores presentes' : 'Treinadores ausentes' }}</h3>


    <table class="table" style="margin-top: 7%;">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let treinadorAula of treinadoresAula">
          <td><img [src]="treinadorAula.treinador.foto || '../../../assets/img/perfil.png'" alt="Foto do lutador"
              style="width: 60px; height: 60px;">
          </td>
          <td> {{treinadorAula.treinador.nome}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<app-menunav></app-menunav>