
<app-header></app-header>

<div class="container">

<h1>Lista de Ausentes</h1>    
  <h3>Lutadores Ausentes</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Nível</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="../../../assets/img/perfil.png" alt="Foto do lutador" style="width: 60px; height: 60px;" ></td>
            <td>John Deik</td>
            <td>33</td>
            <td>preta</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle class2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ações
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Editar</a></li>
                  <li><a class="dropdown-item" href="#">Inativar</a></li>
                  <li><a class="dropdown-item" href="#">Excluir</a></li>
                </ul>
              </div>
            </td>
          </tr>

          <tr>
            <td><img src="../../../assets/img/perfil.png" alt="Foto do lutador" style="width: 60px; height: 60px;" ></td>
            <td>Giovana Santos</td>
            <td>28</td>
            <td>colorida</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle class2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ações
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Editar</a></li>
                  <li><a class="dropdown-item" href="#">Inativar</a></li>
                  <li><a class="dropdown-item" href="#">Excluir</a></li>
                  <li><a class="dropdown-item" href="#">Perfil completo</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>


      <div class="container">
        
          <h3>Treinadores Ausentes</h3>
        
        
              <table class="table">
                <thead>
                  <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="../../../assets/img/perfil.png" alt="Foto do lutador" style="width: 60px; height: 60px;" ></td>
                    <td>Valério Alves</td>
                    <td>34</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle class2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Ações
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Editar</a></li>
                          <li><a class="dropdown-item" href="#">Inativar</a></li>
                          <li><a class="dropdown-item" href="#">Excluir</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
        
                  <tr>
                    <td><img src="../../../assets/img/perfil.png" alt="Foto do lutador" style="width: 60px; height: 60px;" ></td>
                    <td>Antônio Valindolfo</td>
                    <td>39</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle class2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Ações
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Editar</a></li>
                          <li><a class="dropdown-item" href="#">Inativar</a></li>
                          <li><a class="dropdown-item" href="#">Excluir</a></li>
                          <li><a class="dropdown-item" href="#">Perfil completo</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        
        
        </div>  
    </div>
    <app-menunav></app-menunav>

  <app-footer></app-footer>

