@import '../../components/styleSass.css';

  input{
    width: 100%;
  }

  .tela-login{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }

  .btn-padrao-confirm{
    margin-top: 8%;
    margin-bottom: 5%;
    width: 60% !important;

  }

  .btn-padrao-cancel{
    margin-top: 3%;
    width: 60% !important;

  }

  .btn-padrao-edit{
    margin-top: 12%;
    margin-bottom: 5%;
    width: 60% !important;

  }

  .btn-padrao-ajuda{
    margin-top: 20%;
    width: 70%;
    margin-bottom: 8%;

   
  }



  h1{ 
    text-align: center;

  }
 
  input[type="text"] {
    height: 80%;
  }


  
.botoes{ 
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


