.btn-padrao {
  border: none;
  background-color: hsl(0, 79%, 34%);
  border-radius: 4px;
  padding: 4px;
  color: #FFF;
  cursor: pointer;
  margin: 1%;
  height: 95%;
  display: inline-block;
}

.btn-padrao:hover {
  background-color: #001b72;
}

.btn-padrao-ajuda:hover {
  background-color: #001b72;
  color: white;
}

.btn-padrao-cancel:hover {
  background-color: #001b72;
}

.btn-padrao-confirm:hover {
  background-color: #001b72;
}

.btn-padrao-edit:hover {
  background-color: hsl(0, 79%, 34%);
}

.btn-padrao-cancel {
  border: none;
  background-color: hsl(0, 79%, 34%);
  border-radius: 4px;
  padding: 4px;
  color: #FFF;
  cursor: pointer;
  margin: 1%;
  height: 95%;
  display: inline-block;
  background-color: rgb(224, 34, 34);
  width: 95%;
  margin-right: 2px;
}

.btn-padrao-edit {
  border: none;
  background-color: hsl(0, 79%, 34%);
  border-radius: 4px;
  padding: 4px;
  color: #FFF;
  cursor: pointer;
  margin: 1%;
  height: 95%;
  display: inline-block;
  background-color: rgb(20, 20, 159);
  margin-right: 2px;
  width: 95%;
}

.btn-padrao-confirm {
  border: none;
  background-color: hsl(0, 79%, 34%);
  border-radius: 4px;
  padding: 4px;
  color: #FFF;
  cursor: pointer;
  margin: 1%;
  height: 95%;
  display: inline-block;
  background-color: rgb(46, 143, 46);
  width: 95%;
  margin-right: 2px;
}

.btn-padrao-inactive {
  border: none;
  background-color: hsl(0, 79%, 34%);
  border-radius: 4px;
  padding: 4px;
  color: #FFF;
  cursor: pointer;
  margin: 1%;
  height: 95%;
  display: inline-block;
  background-color: rgb(171, 171, 13);
  width: 95%;
  margin-right: 2px;
}

.btn-padrao-ajuda {
  border: none;
  background-color: hsl(0, 79%, 34%);
  border-radius: 4px;
  padding: 4px;
  color: #FFF;
  cursor: pointer;
  margin: 1%;
  height: 95%;
  display: inline-block;
  background-color: hsl(0, 8%, 90%);
  color: black;
}

input[type=radio] {
  display: none;
}

input[type=radio] + span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
  border: 2px solid #001a71;
  box-sizing: border-box;
}

input[type=radio]:checked + span {
  border-color: hsl(0, 79%, 34%);
  box-shadow: 0px 0px 10px #5a5a5a;
  border-width: 5px;
}

.form input[type=text], select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: solid 1px rgb(134, 134, 134);
  color: black;
}

input:focus {
  outline: 1px solid red;
  box-shadow: 0px 0px 10px #5a5a5a;
}

.form {
  margin-top: 10%;
}

header {
  background-color: hsl(0, 79%, 34%);
}

.form div {
  margin: 16px 0;
}

.form label {
  margin-right: 8px;
}

h1, h2, h3, h4, button, span, label, input, p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
}

h1, h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
}

footer, header {
  background-color: hsl(0, 79%, 34%);
}

.logo-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.container-imagem img {
  width: 40%;
  height: 40%;
}

.container-imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.suporte {
  color: hsl(0, 1%, 63%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=styleSass.css.map */