<div class="container">
    <div class="row">
        <div class="col-sm">
<app-header> </app-header>
</div>
</div>

    <div class="row">
        <div class="col-sm">
<h1> Boas vindas! </h1>
</div>
</div>

<div class="row">
    <div class="col-sm">
<p> Entre com sua conta para acessar a plataforma: </p>
</div>
</div>

<div class="row">
    <div class="col-sm">
    <div class="botoes">
        <button class="btn-padrao">Entrar com e-mail e senha</button>
        <button class="btn-padrao" >Entrar com conta google</button>
    </div>
</div>
</div>

<div class="row">
    <div class="col-sm">
    <p style="margin-top: 12%;">Não possui conta?</p>
    <div class="botoes">
    <button class="btn-padrao-edit" >Nova conta</button>
    </div>
</div>
</div>


<div class="row">
    <div class="col-sm">
<app-footer> </app-footer>
</div>
</div>
</div>



