@import '../../components/styleSass.css';


img{ 
    width: 45%;
    height: 45%;
  }

  input{
    width: 100%;
  }

  .container{
    text-align: center;
    width: 100%;
    
    
  }

  .btn-padrao{
    margin-bottom: 5%;
    padding: 5%; /* Ajuste o preenchimento conforme necessário */
    width: 80%; /* Defina a largura desejada em porcentagem */
    height: 85%; /* Defina a altura desejada em porcentagem */

  }

  .btn-padrao-edit{ 
    margin-bottom: 25%;
    padding: 5%; /* Ajuste o preenchimento conforme necessário */
    width: 80%; /* Defina a largura desejada em porcentagem */
    height: 45%; /* Defina a altura desejada em porcentagem */
  }

  h1{ 
    text-align: center;
    margin-top: 15%;
    margin-bottom: 3%;

  }
 
  p{
    margin-bottom: 2px;
    height: 1%;
  }
  input[type="text"] {
    height: 80%;
  }
  
.botoes{ 
flex-direction: column;
align-items: center;
width: 100%;
  height: 100%;
}


