<div class="lutador-card">

    <h2>{{ nome }}</h2>
    
    <img [src]="foto" alt="Imagem Perfil">

    <p><strong>Código: </strong>{{ id }}</p>
    <p><strong>Idade: </strong>{{ idade }}</p>
    <p><strong>Modalidade</strong>{{ modalidade }}</p>
    <p><strong>Nível</strong>{{ nivel }}</p>
    <p><strong>Peso</strong>{{ peso }}</p>
    <p><strong>Altura</strong>{{ altura }}</p>
    <p><strong>Genero</strong>{{ genero }}</p>
    <p><strong>Ativo: </strong>{{ ativo }}</p>
    <p><strong>Comentários: </strong>{{ comentario }}</p>
    <p><strong>Vitórias: </strong>{{ vitorias }}</p>
    <p><strong>Derrotas: </strong>{{ derrotas }}</p>
    <p><strong>Comentários: </strong>{{ empates}}</p>



    


</div>
