@import '../styleSass.css';

.container{ 
    margin-bottom: 10%;
}

.btn-padrao{
width: 30%;
}

.bg-body-tertiary{
margin-bottom: 7%;
}

.btn-outline-success {
    --bs-btn-color: #001b72;
    --bs-btn-border-color: #001b72;
    --bs-btn-hover-bg: #001b72;
    --bs-btn-hover-border-color: #001b72;
    --bs-btn-active-bg: #001b72;
    --bs-btn-active-border-color: #001b72;
    --bs-btn-disabled-color: #001b72;
    --bs-btn-disabled-border-color: #001b72;
}

