@import '../../components/styleSass.css';

  input{
    width: 100%;
  }

  .btn-padrao{
    margin-top: 2%;
    margin-bottom: 10%;
    width: 300px !important;
    box-sizing: border-box;
    height: 90%;

  }
 
  .botoes{ 
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
  margin-top: 5%;
  width: 100%;
  height: 100%;
  }

  .container{
    text-align: center;
    width: 100%;
  }

  h1{ 
    text-align: center;
    margin-top: 15%;

  }
 
  input[type="text"] {
    height: 80%;
  }

app-footer{
    margin-top: 10%;
    width: 100%;
}
