@import '../../components/styleSass.css';

  input{
    width: 100%;
  }

  .tela-login{ 
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-padrao-confirm{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 90% !important;

  }

  .btn-padrao-cancel{
    margin-top: 3%;
    margin-bottom: 15%;
    width: 100% !important;

  }


  h1{ 
    text-align: center;

  }
 
  input[type="text"] {
    height: 80%;
  }

button{
width: 60% !important;
}
  
.botoes{ 
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

app-footer{
    margin-top: 10%;
    width: 100%;
}
