<div class="container">

    <h1>Lista de Aulas</h1>
    

      <p *ngIf="listaAulas.length==0">
        Nennhum registro encontrado. 
      </p>
      <div class="table-responsive" *ngIf="listaAulas.length>0">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Data</th>
              <th>Horário</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let aula of listaAulas">
            <td>{{ aula.id }} </td>
              <td>{{ aula.data }} </td>
              <td>{{ aula.horario }}</td>
              <td><button class="btn-padrao-cancel" (click)="excluirAula(aula.id)">Excluir</button></td>
              <td> <button class="btn-padrao-edit" (click)="editarAula(aula)">Editar</button> </td>          
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      
    <app-lutador-aula *ngIf="exibirFormulario =='editar'|| exibirFormulario=='novo'" 
    [aula]="aulaEditar" 
    (salvar)="onSalvar($event)"> </app-aula-form>