<div class="container">

    <app-header></app-header>

    <h3>Formulário do Aluno</h3>

    <div class="form">

    <div>
        <label for="nome">Nome</label>
        <input type="text" id="nome" [(ngModel)]="lutadorEditado.nome" required >
    </div>

<div>
    <label for="idade">Idade</label>
    <input type="text" id="idade" [(ngModel)]="lutadorEditado.idade" required>
</div>

<div>
    <label for="nivel">Modalidade</label>
    <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="modalidade" [(ngModel)]="lutadorEditado.modalidade" required>
        <option value="Taekwondo">Taekwondo</option>
        <option value="Karatê">Karatê</option>
        <option value="Jiu-jitsu">Jiu-jitsu</option>
        <option value="Muay-Thai">Muay-Thai</option>
        <option value="Outro">Outro</option>
      </select>
</div>

<div>

    <label for="nivel">Nível</label>
    <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="nivel" [(ngModel)]="lutadorEditado.nivel" required>
        <option value="1">Colorida</option>
        <option value="2">Preta</option>
      </select>

<div>
    <label for="peso">Peso</label>
    <input type="text" id="peso" [(ngModel)]="lutadorEditado.peso" required>
</div>

<div>
    <label for="altura">Altura</label>
    <input type="text" id="altura" [(ngModel)]="lutadorEditado.altura" required>
</div>
    
<div class="radio-quebra-de-linha">
    <p>Sexo:</p>
<label for="Feminino">
    <input type="radio" id="Feminino" name="genero" 
    [checked]="lutadorEditado.genero === 'Feminino'" value="Feminino" required class="hidden-radio">
    <span class="custom-radio"></span>
    Feminino
</label>
    
<label for="Masculino">
    <input type="radio" id="Masculino" name="genero" 
    [checked]="lutadorEditado.genero === 'Masculino'" value="Masculino" class="hidden-radio"> 
    <span class="custom-radio"></span>
    Masculino
</label>
</div>

<div style="margin-top:10%;">
<p>Status:</p>
<label for="true">
    <input type="radio" id="true" name="ativo" 
    [checked]="lutadorEditado.ativo" value="true" required class="hidden-radio">
    <span class="custom-radio"></span>
    Ativo
</label>

<label for="false">
    <input type="radio" id="false" name="ativo" 
    [checked]="!lutadorEditado.ativo" value="false" class="hidden-radio"> 
    <span class="custom-radio"></span>
    Inativo
</label>
</div>

  
<div class="form-group center-horizontal2" >
            <label for="file">Foto de perfil (opcional):</label>
            <input type="file" id="file" (change)="onFileSelected($event)" style="display: none" >
            <label for="file" class="btn-padrao">Escolher arquivo</label>
  </div>
  
      <div class="center-horizontal">
  <span id="file-name">Nenhum arquivo selecionado</span>
  </div>
  


<div class="botoes">
    <button class="btn-padrao-confirm"(click)="salvarDados()">Salvar</button>
    <button class="btn-padrao-cancel" (click)="cancelar()">Cancelar</button>

</div>
</div>

</div>
<app-menunav></app-menunav>
<app-footer></app-footer>
