@import '../styleSass.css';


 h3{
    text-align: center;
    margin-top: 10%;
}

.radio-quebra-de-linha{
    margin-bottom: 5%;
}

button{
    width: 8%;
    margin-right: 2px;
}

.espaco{
    margin-top: 40%;
}

.form-group{
    margin-top: 10%;
}

.btn-padrao-confirm{
margin-top: 7%;
width: 50%;
padding: 3%;
}

.btn-padrao-cancel{
    width: 50%;
    padding: 3%;
    }

    .botoes {
        text-align: center; /* Centraliza horizontalmente */
    }
    
    p {
        font-weight: 500;
    }
    
    .center-horizontal2 {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; 
        padding-top: 10%;
    }

      .center-horizontal {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
      }

    .form{
        margin-left: 5%;
        margin-right: 5%;
    }