<app-header> </app-header>

<div class="container">
<div class="tela-login"> 
    <img src="../../assets/img/logo.jpg" alt="Descrição da imagem">
    <h1>FightFinder</h1>
    </div>

    <div class="form">

        <h1>Criar conta</h1>



    <div class="botoes">
        <button class="btn-padrao-confirm">Conectar com sua conta google</button>
        <button class="btn-padrao-cancel" >Criar cadastro manual </button>
    </div>

</div>

<app-escola-form> </app-escola-form>


<app-footer> </app-footer>