//Fobtes 
    $buttonFont: inherit;
    $buttonFontsize: inherit;
     $buttonColor: #FFF; 
     $titleFont: var(--bs-body-font-family);

//Bordas 
    $borderNone: none; 
    $buttonBorderRadius: 4px; 
    
//Cores 

    $masterRed: hsl(0, 79%, 34%);

    $buttonBackgroundcolor: hsl(0, 79%, 34%);
    $buttonHover: #001a70;

//Demais configurações: 
    $buttonPadding: 4px; 
    $buttonCursor: pointer; 
    $buttonMargin: 1%; 
    $buttonHeight: 95%; 
    $buttonDisplay: inline-block; 
    
////////////////////////////////////////////////////////

    //Botões padrão: 

    .btn-padrao{
    border: $borderNone; 
    background-color: $buttonBackgroundcolor; 
    border-radius: $buttonBorderRadius;
    padding: $buttonPadding;
    color: $buttonColor;
    cursor: $buttonCursor;
    margin: $buttonMargin;
    height: $buttonHeight;
    display: $buttonDisplay;

}

    .btn-padrao:hover{
    background-color: $buttonHover;
}

    //titulos 
h {
    $titleFont: "Font Family Here";

    }

    header { 
        background-color: $masterRed;
    }
 
    input[type='radio'] {
        display: none;
    }
    
    input[type='radio'] + span {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-right: 5px;
        border: 2px solid #000; /* Cor da borda */
        box-sizing: border-box;
    }
    
    input[type='radio']:checked + span {
        border-color: $masterRed; /* Cor da borda quando selecionado */
        box-shadow: 0px 0px 10px #000; /* Sombra quando selecionado */
        border-width: 4px; /* Dobrar a espessura da borda quando selecionado */
    }
    