//Fontes 
    $buttonFont: inherit;
    $buttonFontsize: inherit;
     $buttonColor: #FFF; 
     $titleFont: var(--bs-body-font-family);

//Bordas 
    $borderNone: none; 
    $buttonBorderRadius: 4px; 
    
//Cores 

    $masterRed: hsl(0, 79%, 34%);
    $masterBlue: #001a70; 

    $buttonBackgroundcolor: hsl(0, 79%, 34%);
    $buttonHover: #001b72;
    $colorCancel: rgb(230, 50, 50);
    $colorConfirm: rgb(46, 143, 46);
    $colorEdit: rgb(18, 18, 181);

//Demais configurações: 
    $buttonPadding: 4px; 
    $buttonCursor: pointer; 
    $buttonMargin: 1%; 
    $buttonHeight: 95%; 
    $buttonDisplay: inline-block; 
    
////////////////////////////////////////////////////////

//Botões

@mixin btn-padrao{
    border: $borderNone; 
    background-color: $buttonBackgroundcolor; 
    border-radius: $buttonBorderRadius;
    padding: $buttonPadding;
    color: $buttonColor;
    cursor: $buttonCursor;
    margin: $buttonMargin;
    height: $buttonHeight;
    display: $buttonDisplay;

}

//botão padrão 
.btn-padrao{
    @include btn-padrao;
}

.btn-padrao:hover{
    background-color: $buttonHover;
}

.btn-padrao-cancel{
    @include btn-padrao;
    background-color: $colorCancel;
    width: 8%;
    margin-right: 2px;
    }

    .btn-padrao-edit{
        @include btn-padrao;
        background-color: $colorEdit; 
        width: 8%;
        margin-right: 2px;
    }

//inputs 

input[type='radio'] {
    display: none;
}

input[type='radio'] + span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid $masterBlue; 
    box-sizing: border-box;
}

input[type='radio']:checked + span {
    border-color: $masterRed; 
    box-shadow: 0px 0px 10px #5a5a5a; 
    border-width: 5px; 
}

.form input[type='text'], select{
    width: 100%;
padding: 8px;
font-size: 16px;
border-radius: 4px;
border: solid 1px rgb(134, 134, 134);
color: black;
}

input:focus {
    outline: 1px solid red;
    box-shadow: 0px 0px 10px #5a5a5a;

}


    //titulos 
h {
    $titleFont: "Font Family Here";

    }

    //outros 

    header { 
        background-color: $masterRed;
    }
    
    .form div{
        margin: 16px 0;
    }
    
    .form  label {
        margin-right: 8px;
    }

    