<div class="tela-toda">
<h2>Lutas geradas</h2>

<div class="todos-cards">
<div class="card-luta" >
    <h5>Luta 1 </h5>
    <p> <span class="destaque">Lutador 1:</span> Letícia Zalasik </p>
    <p> <span class="destaque">Lutador 2:</span> Luiza Souza </p>
    <p> <span class="destaque">Treinador:</span> Lucas Souza Santos </p>
    <div class="espaco"></div>
    <button class="btn-padrao"  [routerLink]="['/adicionarComentario']">Feedback</button>
</div>

        <div class="card-luta">
            <h5>Luta 1 </h5>
            <p> <span class="destaque">Lutador 1:</span> Giovani Fernandes</p>
            <p> <span class="destaque">Lutador 2:</span> Juliano Lopes </p>
            <p> <span class="destaque">Treinador:</span> Mario de Liz</p>
            <div class="espaco"></div>
            <button class="btn-padrao"  [routerLink]="['/adicionarComentario']">Feedback</button>

                </div>
        
        
                <div class="card-luta">
                    <h5>Luta 1 </h5>
                    <p> <span class="destaque">Lutador 1:</span> John Deik </p>
                    <p> <span class="destaque">Lutador 2:</span> Marcos Paulo </p>
                    <p> <span class="destaque">Treinador:</span> Silvio Alves </p>
                    <div class="espaco"></div>
                    <button class="btn-padrao novo" [routerLink]="['/adicionarComentario']">Feedback</button>

                        </div>
                
                        <div class="card-luta">
                            <h5>Luta 1 </h5>
                            <p> <span class="destaque">Lutador 1:</span> Marcos Paulo </p>
                            <p> <span class="destaque">Lutador 2:</span> Guilherme Pereira </p>
                            <p> <span class="destaque">Treinador:</span> Mario de Liz</p>
                            <div class="espaco"></div>
                            <button class="btn-padrao" [routerLink]="['/adicionarComentario']">Feedback</button>

                                </div>                                        
    </div>
</div>

<div class="centralizar">
<button class="btn-padrao-edit" [routerLink]="['/aula']">Finalizar todas as lutas</button>
</div>

<app-menunav></app-menunav>