<div class="tela-toda">
<app-header></app-header>
<h2>Lutas geradas</h2>

<div class="todos-cards">
<div class="card-luta">
    <h5>Luta 1 </h5>
    <p> <span class="destaque">Lutador 1:</span> John Deik </p>
    <p> <span class="destaque">Lutador 2:</span> Giovana Santos </p>
    <p> <span class="destaque">Treinador:</span> Valério Valindolfo </p>
    <p> <span class="destaque">Rodada:</span> 1</p>
        </div>

        <div class="card-luta">
            <h5>Luta 1 </h5>
            <p> <span class="destaque">Lutador 1:</span> xxxxxx xxxxx xxxx</p>
            <p> <span class="destaque">Lutador 2:</span> xxxx xxxx </p>
            <p> <span class="destaque">Treinador:</span> xxxxx xxxxxxx</p>
            <p> <span class="destaque">Rodada:</span> 1</p>
                </div>
        
        
                <div class="card-luta">
                    <h5>Luta 1 </h5>
                    <p> <span class="destaque">Lutador 1:</span> John Deik </p>
                    <p> <span class="destaque">Lutador 2:</span> Giovana Santos </p>
                    <p> <span class="destaque">Treinador:</span> Silvio Alves </p>
                    <p> <span class="destaque">Rodada:</span> 2</p>
                        </div>
                
                        <div class="card-luta">
                            <h5>Luta 1 </h5>
                            <p> <span class="destaque">Lutador 1:</span> xxxx xxxxx </p>
                            <p> <span class="destaque">Lutador 2:</span> xxxxxxxx xxxx </p>
                            <p> <span class="destaque">Treinador:</span> xxxxx xxxx xxxxxx</p>
                            <p> <span class="destaque">Rodada:</span> 2</p>
                                </div>                                        


    </div>
</div>