
<div class="form">

    
    <h3>Formulário do Aluno</h3>

    <div>
      <label for="id">ID</label>
      <input type="text" id="id" readonly [(ngModel)]="lutadorEditado.id" placeholder="01">
  </div>
  

    <div>
        <label for="nome">Nome</label>
        <input type="text" id="nome" [(ngModel)]="lutadorEditado.nome" required >
    </div>

<div>
    <label for="idade">Idade</label>
    <input type="text" id="idade" [(ngModel)]="lutadorEditado.idade" required>
</div>

<div>
    <label for="nivel">Modalidade</label>
    <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="modalidade" [(ngModel)]="lutadorEditado.modalidade" required>
        <option value="Taekwondo">Taekwondo</option>
        <option value="Karatê">Karatê</option>
        <option value="Jiu-jitsu">Jiu-jitsu</option>
        <option value="Muay-Thai">Muay-Thai</option>
        <option value="Outro">Outro</option>
      </select>
</div>

<div>

    <label for="nivel">Nível</label>
    <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="nivel" [(ngModel)]="lutadorEditado.nivel" required>
        <option value="1">Colorida</option>
        <option value="2">Preta</option>
      </select>

<div>
    <label for="peso">Peso</label>
    <input type="text" id="peso" [(ngModel)]="lutadorEditado.peso" required>
</div>

<div>
    <label for="altura">Altura</label>
    <input type="text" id="altura" [(ngModel)]="lutadorEditado.altura" required>
</div>

<div style="margin-top:10%;">
<p>Status:</p>
<label for="true">
  <input type="radio" id="true" name="ativo" 
  [checked]="lutadorEditado.ativo" value="true" required class="hidden-radio">
  <span class="custom-radio"></span>
  Ativo
</label>

<label for="false">
  <input type="radio" id="false" name="ativo" 
  [checked]="!lutadorEditado.ativo" value="false" class="hidden-radio"> 
  <span class="custom-radio"></span>
  Inativo
</label>
</div>


<div class="form-group center-horizontal2" >
          <label for="file">Foto de perfil (opcional):</label>
          <input type="file" id="file" (change)="onFileSelected($event)" style="display: none" >
          <label for="file" class="btn-padrao">Escolher arquivo</label>
</div>

    <div class="center-horizontal">
<span id="file-name">Nenhum arquivo selecionado</span>
</div>

<div class="lutas">
    <h3 style="margin-top: 12%;">Comentários de lutas</h3>

    <table class="table-comentarios">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Resultado</th>
            <th scope="col">Comentário</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>07/08/24</td>
            <td>Vitória</td>
            <td>Pode treinar mais a abertura de pernas.</td>
            <td> <button class="btn-padrao-edit">Editar</button></td>
          </tr>
          <tr>
            <td>07/08/24</td>
            <td>Empate</td>
            <td></td>
            <td> <button class="btn-padrao-edit">Editar</button></td>
          </tr>
          <tr>
            <td>09/08/24</td>
            <td>Derrota</td>
            <td>Treinar defesa com braços</td>
            <td> <button class="btn-padrao-edit">Editar</button></td>
          </tr>
        </tbody>
      </table>
</div>

<div style="margin-top: 12%;">
    <h3 style="margin-bottom: 2%;">Presenças e faltas</h3>

<p style="text-align: center;">Clique em cima de uma data para editar a informação</p>

    <table class="table-presencasfaltas">
        <thead>
            <tr>
                <th scope="col">Presenças</th> <!-- Nova coluna -->
                <th scope="col">Faltas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>15/08/24</td> <!-- Data aleatória para teste -->
                <td>07/08/24</td>
            </tr>
            <tr>
                <td>10/08/24</td> <!-- Data aleatória para teste -->
                <td>30/07/24</td>
            </tr>
            <tr>
                <td>20/08/24</td> <!-- Data aleatória para teste -->
                <td></td>
            </tr>
            <tr>
                <td>05/08/24</td> <!-- Data aleatória para teste -->
                <td></td>
            </tr>
        </tbody>
    </table>
    
<div class="botoes">
    <button class="btn-padrao-confirm"(click)="salvarDados()">Salvar</button>
    <button class="btn-padrao-cancel" (click)="cancelar()">Cancelar</button>

</div>
</div>