@import '../styleSass.css';


.btn-padrao-cancel, .btn-padrao-confirm{
    width: 50%;
    
}

p, h2{ 
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botao-copiar{
  border: 2px; 
  background-color: #f0f0f0;
  
}


.container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            border: 2px solid #cbcbcb;
            border-radius: 5px;
            background-color: #f0f0f0;
            font-size: 16px;
            margin-bottom: 20%;
            width: 90%;
            margin-top: 3%;
        }

        .container i {
            padding-left: 10px;
        }



h2{
  margin-top: 10%;
}

.subtitulo{
  margin-top: 10%;
  margin-bottom: 1%;
    font-weight: bold;
}


.container p {
  display: table-cell;
  vertical-align: middle; /* Alinha verticalmente */
  width: 90%;
}
