.splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%; 
  }

  img{ 
    width: 30%;
    height: 30%;
  }

  p{
    margin-top: 2%;
  }

  header, footer{
    
  }