@import '../styleSass.css';


h2{
    margin-top: 12%;
    margin-bottom: 7%;
}

.botoes, h2{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
}

.btn-padrao-cancel, .btn-padrao-inactive{
width: 50%;
padding: 2%;
}

.div-total{
    margin-left: 2%;
    
}

@import '../styleSass.css';


.form h3{
    text-align: center;
}

.radio-quebra-de-linha{
    margin-bottom: 8%;
}

button{
    width: 8%;
    margin-right: 2px;
}

.center-horizontal2 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    padding-top: 10%;
}

.form{
    margin-left: 5%;
  }

  .center-horizontal {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
  }
  
  .center-horizontal2[_ngcontent-ng-c2398611961] {
padding-top: 5%;
  }

  .table-comentarios{
    margin-top: 1%;
  }

  .table-presencasfaltas{
width: 60%;
  }

  td, th{
  border-bottom: solid 1px rgb(209, 209, 209);
  text-align: center;
  padding: 4%;
  width: 2%;

  }

  .table-comentarios{
    width: 95%;
  }

  .table-presencasfaltas td, th, tr{
    padding: 10%;
  }

  .table-presencasfaltas{
    font-size: 18px;

  }

  .btn-padrao-edit{
    padding: 8%;
    width: 130%;
  }

  .btn-padrao-confirm,
  .btn-padrao-cancel {
      width: 30%;
      padding: 2%;
      display: block;
      margin: 0 auto; /* Isso centraliza horizontalmente os botões */
  }

  .btn-padrao-confirm{
    margin-bottom: 2%;
  }
  