@import '../../components/styleSass.css';

footer{
    height: 60%;
    display: flex;
    align-items: center;
background-color: hsl(0, 79%, 34%);
    color: #FFF;
    text-align: center;

}

p{ 
    width: 100%;
    margin: 2%;

}