@import '../styleSass.css';

.btn-primary{
    background-color:  hsl(0, 79%, 34%);
    color: white;
    border: none;
}

.btn-success{
margin-right: 4px;
margin-bottom: 3px;
}

img { 
    border-radius: 30%;
}

.table-responsive{
    align-items: center;
}

h1{
    color:  hsl(0, 79%, 34%);
    text-align: center;
    margin-bottom: 20px;
}

