table, td, th{
    border-collapse: collapse;
}

thead tr{
    background-color: hsl(0, 79%, 34%);
    color: #fff;
}

td, th{
    text-align: left;
    padding: 8px;
}

tbody tr:nth-child(even){
    background-color: #ddd;
}

tbody tr:hover{
    color: #fff;
    background-color: hsl(0, 79%, 34%);
}

.lista-lutadores{
    width: 900px;
}

table{
    width: 100%;
}

.lista-lutadores p{
    text-align: center;
    font-size: 24px;
    padding: 24px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 2px 2px 5px black;
}

button{
    border: none;
    margin: 4px;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
    cursor: pointer;
}

.bkg-green{
    background-color: rgb(0, 122, 0);
}

.bkg-red{
    background-color: rgb(207, 1, 1);
}

.botao-adicionar{
    border: none;
    background-color: rgb(0, 0, 87);
    border-radius: 4px;
    padding: 4px;
    color: #FFF;
    cursor: pointer;
    margin: 4px;
}

.botao-adicionar:hover{
    background-color:#ff6a00;;
}