<div class="lista-lutadores">

    <button class="botao-adicionar" (click)="novoLutador()">Adicionar</button>

    <p *ngIf="listaLutadores.length==0">
        Nennhum registro encontrado. 
    </p>
    <table *ngIf="listaLutadores.length>0">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Id</th>
                <th>Nome</th>
                <th>Modalidade</th>
                <th>Nível</th>
                <th>Idade</th>
                <th>Gênero</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Ativo</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lutador of listaLutadores">
                <td><img src="{{ lutador.foto }}" alt="Foto do lutador" style="width: 100px; height: 100px;"></td>
                <td>{{ lutador.foto }}</td>
                <td>{{ lutador.id }}</td>
                <td>{{ lutador.nome }}</td>
                <td>{{ lutador.modalidade }}</td>
                <td>{{ lutador.nivel }}</td>
                <td>{{ lutador.idade }}</td>
                <td>{{ lutador.genero }}</td>
                <td>{{ lutador.peso }}</td>
                <td>{{ lutador.altura }}</td>
                <td>{{ lutador.ativo }}</td>

            <td>
                <button class="bkg-green" (click)="editarLutador(lutador)">Editar</button>
                <button class="bkg-red" (click)="excluirLutador(lutador.id)">Excluir</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>
<app-lutador-form *ngIf="exibirFormulario =='editar'|| exibirFormulario=='novo' " 
[lutador]="lutadorEditar" 
(salvar)="onSalvar($event)"> </app-lutador-form>