<div class="container" >
    <div class="row">
      <div class="col-sm">
        <app-menu-lutadores (telaLutadores)="novaTelaLutadores($event)"> </app-menu-lutadores>
</div>
</div>
</div>


<section *ngIf="telaLutadores === 'listarLutadores'" >
    
<app-lutador-list [listaLutadores]="listaLutadoresFiltro"
(excluir)="onExcluir($event)"
(editar)="onEditar($event)"
(inserir)="onInserir($event)">
</app-lutador-list>
</section>

<section *ngIf="telaLutadores === 'adicionarLutadores'" >
    <app-lutador-form></app-lutador-form>
  </section>

  
  <section *ngIf="telaLutadores === 'editarLutadores'" >
    <app-lutador-edit [listaLutadores]="listaLutadoresFiltro"
                      (excluir)="onExcluir($event)"
                      (editar)="onEditar($event)"
                      (inativar)="OnInativar($event)">
    </app-lutador-edit>
  </section>