//login, entrada, ajuda, criar conta....
<app-splash-screen> </app-splash-screen>

<app-boas-vindas> </app-boas-vindas>

<app-menu-criar-conta> </app-menu-criar-conta>

<app-tela-login> </app-tela-login>

<app-escola-form></app-escola-form>

<app-escola-edit></app-escola-edit>

<app-escola></app-escola>

<app-menu-inicial> </app-menu-inicial>

<app-ajuda> </app-ajuda>

<app-esqueci-senha></app-esqueci-senha>


//form
<app-lutador-form></app-lutador-form>

<app-treinador-form></app-treinador-form>

//edit


//list 
<app-lutador-list></app-lutador-list>

<app-treinador-list></app-treinador-list>

//aulas 
<app-aula-form></app-aula-form>

<app-presenca-lutadores-manual></app-presenca-lutadores-manual>

<app-presenca-lutadores-automatica> </app-presenca-lutadores-automatica>

<app-presenca-treinadores-manual></app-presenca-treinadores-manual>


//lutas 

<div> 
  <app-adicionar-comentario (novoComentario)="adicionarComentarioAoLutador($event)"></app-adicionar-comentario>
</div>

//falta a tela de fazer os filtros 
//resultados 


//lutador completo 
<app-visualizacao-lutador></app-visualizacao-lutador>

<app-lutador-form-complete></app-lutador-form-complete>