.container{ 
    margin-top: 8%;
    
}

button {
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    flex-grow: 1; /* Isso faz com que cada botão ocupe todo o espaço disponível na linha */
    background-color: rgb(239, 238, 238);

  }
  
  .col-sm{
    border: 1px solid #d4d4d4; /* Borda ao redor de todos os botões */
    padding: 10px; /* Espaçamento interno dos botões */
    cursor: pointer; /* Cursor indicando que é clicável */
    background-color: rgb(239, 238, 238);

}
  .container .row {
    display: flex;
  }
  
  .container .row .col-sm {
    flex: 1; /* Isso faz com que cada coluna ocupe todo o espaço disponível na linha */
    margin: 0;    

  }
  
  .container{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .row{
    margin-top: 0;
    margin-bottom: 0;
  }

  .form div {
    margin: 5px 0;
}
  .container .row .col-sm button {
    width: 100%; /* Isso faz com que cada botão ocupe toda a largura da coluna */
  }
  
  .fa-solid {
    color: #001a71; /* Altere para a cor desejada */
    margin-bottom: 1%;
  }
  