@import '../styleSass.css';


.botoes{ 
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  margin-bottom: 25%;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.col-sm, .row{
  padding: 0px;
  margin: 0px;
}

.btn-padrao-cancel, .btn-padrao-confirm{
  width: 110%;
  height: 70%;    
}

h3{
  text-align: center;
  margin-top: 10%;
}