<div class="container">

<button class="btn-padrao" [routerLink]="['/lutadorForm']"> <i class="fa-solid fa-plus" ></i> Adicionar novo</button>

  <h1>Lista de lutadores</h1>

        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input  class="form-control me-2" type="search" placeholder="Pesquisar nome..." aria-label="Search">
            <button class="btn btn-outline-success" type="button">Pesquisar</button>
          </form>
        </div>
      
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle class1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filtros
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="filtroSelecionado = 'todos'; filtrarLutadores()">Todos</a></li>
        <li><a class="dropdown-item" (click)="filtroSelecionado = 'ativos'; filtrarLutadores()">Ativos</a></li>
        <li><a class="dropdown-item" (click)="filtroSelecionado = 'inativos'; filtrarLutadores()">Inativos</a></li>
        <li><a class="dropdown-item" (click)="filtroSelecionado = 'preta'; filtrarLutadores()">F.preta</a></li>
        <li><a class="dropdown-item" (click)="filtroSelecionado = 'colorida'; filtrarLutadores()">F.colorida</a></li>
        <li><a class="dropdown-item" (click)="filtroSelecionado = 'feminino'; filtrarLutadores()">Feminino</a></li>
        <li><a class="dropdown-item" (click)="filtroSelecionado = 'masculino'; filtrarLutadores()">Masculino</a></li>
      </ul>
    </div>

      <table class="table">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Faixa</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lutador of lutadores">
            <td> <img [src]="lutador.foto || '../../../assets/img/perfil.png'" alt="Foto do treinador" alt="Foto do lutador" style="width: 60px; height: 60px;" ></td>
            <td>{{lutador.nome}}</td>
            <td>{{lutador.idade}}</td>
            <td>{{lutador.peso}}</td>
            <td>{{lutador.altura}}</td>
            <td>{{ lutador.isColorida ? 'Colorida' : 'Preta' }}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle class2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ações
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="['/lutadorVisualizacao']">Ver</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/lutadorEditar', lutador.id]">Editar</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<app-menunav></app-menunav>

