<div style="padding: 3%;"></div>

<div class="container">

    <div class="row">
        <div class="col-sm">
<h1> Boas vindas! </h1>
</div>
</div>

<div class="row">
    <div class="col-sm">
<p style="margin-bottom: 10%;"> Entre com sua conta para acessar a plataforma: </p>
</div>
</div>

<div class="botoes">
<div class="row">
    <div class="col-sm">
        <button class="btn-padrao" [routerLink]="['/login']">Entrar com e-mail e senha</button>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <button class="btn-padrao" >Entrar com conta google</button>
    </div>
</div>
</div>

<div class="row">
    <div class="col-sm">
    <p style="margin-top: 15%;">Não possui conta?</p>
</div>
</div>

<div class="botoes">
    <div class="row">
        <div class="col-sm">
    <button class="btn-padrao-edit" [routerLink]="['/escolaForm']">Nova conta</button>
</div>
</div>
</div>

</div>
<div style="padding: 10%;"></div>



