.btn-padrao{
    border: none;
    background-color: hsl(0, 79%, 34%);
    border-radius: 4px;
    padding: 4px;
    color: #FFF;
    cursor: pointer;
    margin: 1%;
    height: 95%;
}

btn-padrao-ajuda{
   
    background-color: hsl(0, 0%, 65%);
    color: #000000;
    cursor: pointer;
    margin: 1%;
    height: 85%;
}

.btn-padrao:hover{
    background-color:#001a70;;
}

.container {
    text-align: center;
  }
  
  .btn-padrao {
    display: inline-block;
  }
  
  