<div class="container" >
<div class="row">
    <div class="col-sm">
    <button class="btn-padrao" (click)="tela('lutadores')"> Lutadores (cadastro, editar, listar...)</button>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <button class="btn-padrao" (click)="tela('treinadores')"> Treinadores (cadastro, editar, listar...)</button>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <button class="btn-padrao" (click)="tela('lutas')"> Gerar lutas </button>
  </div>
</div>
<div class="row">
  <div class="col-sm">
  <button class="btn-padrao" (click)="tela('ajuda')"> Não encontrou o que procura, precisa de ajuda? Clique Aqui! </button>
</div>
</div>
</div>