.btn-padrao{
    border: none;
    background-color: hsl(0, 79%, 34%);
    border-radius: 4px;
    padding: 4px;
    color: #FFF;
    cursor: pointer;
    margin: 4px;
}

.btn-padrao:hover{
    background-color:#ff6a00;;
}