@import '../styleSass.css';

.btn-padrao-cancel, .btn-padrao-confirm{
    width: 50%;
    
}

.botoes{ 
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}