header, footer{
    width: 100%;
    background-color: hsl(0, 79%, 34%);
    color: #FFF;
    text-align: center;
}

header{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{ 
    height: 8%;
    width: 8%;
    border-radius: 10%;

}

div {
    text-align: center;
}

footer{
    padding: 8px;
    position: fixed;
    bottom: 0;
}

main{
    padding: 16px;
}

main section{
    margin-bottom: 20px;
}

.cards, .lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-padrao{
    border: none;
    background-color: hsl(0, 79%, 34%);
    border-radius: 4px;
    padding: 4px;
    color: #FFF;
    cursor: pointer;
    margin: 4px;
}

.btn-padrao:hover{
    background-color:#ff6a00;;
}
.menu{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: end;
}

