<header>
    <h1>App FightFinder</h1>
</header>

<main>
    <section class="menu">

        <div>
        <button class="btn-padrao" (click)="filtrarLutadores(true)"> Exibir lutadores ativos</button>
        <button class="btn-padrao" (click)="exibirTodos()"> Exibir todos os lutadores</button>
    </div>

    </section>

    <section>
        <app-lutador-list [listaLutadores]="listaLutadoresFiltro"
            (excluir)="onExcluir($event)"
            (editar)="onEditar($event)"
            (inserir)="onInserir($event)">
        </app-lutador-list>
    </section>
</main>

<footer>
    <p>- Desenvolvido Por Letícia -</p>
</footer>