<div class="container" >
  <div class="row">
    <div class="col-sm">
    <app-header></app-header>
</div>
</div>
  
      <app-menu-inicial *ngIf="telaAtual == ''" (telaAtual)="novaTelaAtual($event)"> </app-menu-inicial>

    <section  *ngIf="telaAtual === 'lutadores'">
    <app-tela-lutadores></app-tela-lutadores>
    </section>
      
   
        <app-menunav (botaoClicado)="telaAtual = ''"></app-menunav>
      
      <div class="row">
        <div class="col-sm">
  <app-footer></app-footer>
</div>
</div>
</div>

<app-splash-screen> </app-splash-screen>

<div> 
  <app-adicionar-comentario (novoComentario)="adicionarComentarioAoLutador($event)"></app-adicionar-comentario>
</div>

<app-boas-vindas> </app-boas-vindas>

<app-menu-criar-conta> </app-menu-criar-conta>

<app-tela-login> </app-tela-login>

<app-ajuda> </app-ajuda>

<app-escola-edit></app-escola-edit>
