<div class="container">
    
    <button class="btn-padrao" [routerLink]="['/aulaForm']"> <i class="fa-solid fa-plus"></i> Iniciar nova aula</button>
    
      <h1>Lista Aulas</h1>
    
            <div class="container-fluid">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="date" placeholder="Pesquisar data. ex.: xx/xx/xxxx " aria-label="Search">
                <button class="btn btn-outline-success" type="button">Pesquisar</button>
              </form>
            </div>
          
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle class1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filtros
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"  (click)="filtroSelecionado = 'todas'; filtrarAulas()">Todas</a></li>
            <li><a class="dropdown-item" (click)="filtroSelecionado = 'mes'; filtrarAulas()">mês atual</a></li>
            <li><a class="dropdown-item" (click)="filtroSelecionado = 'ano'; filtrarAulas()">Do atual ano</a></li>
          </ul>
        </div>
    
          <table class="table">
            <thead>
              <tr>
                <th>Data</th>
                <th>Horário</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aula of aulas">
                <td>{{ aula.data | date:'dd/MM/yyyy' }}</td>
                <td>{{aula.hora}}</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle class2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Ações
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]="['/presentesAula', aula.id]">Ver/editar</a></li>
                    </ul>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
    
          <div style="padding: 15%;"></div>
        <app-menunav></app-menunav>
        </div>
    