
<div class="container" >
<div class="row">
    <div class="col-sm">
      <a [routerLink]="['/caminho-para-inicial']"><i class="fa-solid fa-house"></i><br>Inicial</a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/caminho-para-perfil']"><i class="fa-solid fa-user"></i><br>Perfil</a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/caminho-para-voltar']"><i class="fa-solid fa-arrow-left"></i><br>Voltar</a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/caminho-para-sair']"><i class="fa-solid fa-circle-xmark"></i><br>Sair</a>
    </div>
  </div>
</div>