@import '../../components/styleSass.css';

*{
    box-sizing: border-box;
}
.class1{
    background-color:  hsl(0, 79%, 34%);
    padding: 3%;
}
.pg-total{
    margin-left: 2%;
}

.btn-padrao{
    width: 50%;
    padding: 2%;
    margin-bottom: 0%;
}


.botoes{ 
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-padrao-cancel{
    margin-bottom: 5%;
    padding: 3%;
    width: 30%;
}

.btn-padrao-confirm{
    margin-top: 10%;
    padding: 3%;
    width: 30%;

}

.data input{
    height: 50px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 6%;
    border-color: rgb(145, 145, 145);
    
}

.form[_ngcontent-ng-c3281154462] div[_ngcontent-ng-c3281154462]{
margin: 1%;
}

h2{
    margin-top: 0%;
}

app-footer{
    height: 30%;
}

.dropdown{
    margin-bottom: 15%;
    margin-top: 10%;
}

.form-check{
    display: flex;
    justify-content: center;
  }

  
  td{
    width: 10%;
    
  }

  .table-treinadores .table{
    width: 80%;
    padding: 40%;

  }

  .table-treinadores .form-check input[type="checkbox"] {
    padding: 30%;
    width: 20%;
    }

    .table .form-check input[type="checkbox"] {
        padding: 140%;
        width: 90%;
        }
    
  
  .form-check-input:checked {
    background-color:  #001a71;
    border-color: hsl(0, 79%, 34%);
  }
  
  .table-treinadores tr{
    border-bottom: solid 1px rgb(222, 218, 218);
  }

  .table-treinadores td{
    padding: 1%;
  }

  

  td[_ngcontent-ng-c3465641607] {
    width: 6%;
}
  