<h3>Menu inicial</h3>

<div class="container">

  <div class="lado-lado">
    <button class="btn-padrao" style= "height: 80px;" [routerLink]="['/lutador']"> Lutadores</button>
    <button class="btn-padrao" style= "height: 80px;" [routerLink]="['/treinador']"> Treinadores</button>
        </div>

        <div class="lado-lado">
          <button class="btn-padrao" style= "height: 80px;" [routerLink]="['/aula']"> Aulas</button>
        <button class="btn-padrao-edit" style= "height: 80px; background-color: #001b72;" [routerLink]="['/gerarLuta']"> Gerar lutas </button>
      </div>   
</div>

<div class="container2">
<button class="btn-padrao-ajuda" style= "height: 40px;" [routerLink]="['/adicionarComentario']"> Precisa de ajuda?</button>
</div>

<app-menunav></app-menunav>