@import '../../styleSass.css';


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8%;

}

.lado-lado button{
  width: 90%;
  height: 100%;
  margin-bottom: 5%;
  box-sizing: border-box; /* Adicione esta linha */

}

.lado-lado{
  display: inline;
  width: 90%;
  height: 90%;

}

.btn-padrao-ajuda{
  width: 60%;
  margin-bottom: 2%;
  font: 10px; 
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
  text-align: center;
  margin-top: 10%;
}

.container2{
  margin-bottom: 5%;
}