<h3>Menu inicial</h3>

<div class="container">

  <div class="lado-lado">
    <button class="btn-padrao" style= "height: 80px;" [routerLink]="['/lutador']"> Lutadores</button>
    <button class="btn-padrao" style= "height: 80px;" [routerLink]="['/treinador']"> Treinadores</button>
    <button class="btn-padrao" style= "height: 80px;" [routerLink]="['/aula']"> Aulas/Lutas</button>
  </div> 
</div>

<div class="container2">
<button class="btn-padrao-ajuda" style= "height: 40px;" [routerLink]="['/ajudaComponet']"> Precisa de ajuda?</button>
</div>

<app-menunav></app-menunav>