<div class="form">

    <h3> Perfil escola</h3>

    <div>
        <label for="id">ID</label>
        <input type="text" id="id" readonly [(ngModel)]="escolaEditada.id">
    </div>

    <div>
        <label for="id">Nome</label>
        <input type="text" id="nome" [(ngModel)]="escolaEditada.nome">
    </div>

    <div>
        <label for="email">Email</label>
        <input type="text" id="email" [(ngModel)]="escolaEditada.email">
    </div>

    <div>
        <label for="senha">Senha</label>
        <input type="text" id="senha" [(ngModel)]="escolaEditada.senha">
    </div>
</div>