<div class="container" >
    <div class="row">
      <div class="col-sm">
    <button class="btn-padrao" (click)="tela(true)"> Exibir todas as aulas</button>
    <button class="btn-padrao" (click)="tela(false)"> Exibir a partir da mais recente</button>
    <button class="btn-padrao" (click)="tela()"> Aulas do ultimo mês apenas</button>
</div>
</div>
</div>

<form class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
    <select class="form-select" id="inlineFormSelectPref" [(ngModel)]="diaSelecionado">
      <option selected value="" disabled selected>Dia</option>
      <ng-container *ngFor="let day of daysArray; let i = index">
        <option [value]="i + 1">{{ i + 1 }}</option>
    </ng-container>
</select>
  </div>

  <div class="col-12">
    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
    <select class="form-select" id="inlineFormSelectPref" [(ngModel)]="mesSelecionado">
      <option value="" disabled selected>Mês</option>
      <ng-container *ngFor="let day of mesesArray; let i = index">
        <option [value]="i + 1">{{ i + 1 }}</option>
    </ng-container>
</select>
  </div>

  <div class="col-12">
    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
    <select class="form-select" id="inlineFormSelectPref" [(ngModel)]="anoSelecionado">
      <option value="" disabled selected>Ano</option>
      <ng-container *ngFor="let day of anosArray; let i = index">
        <option [value]="i + 1">{{ i + 1 }}</option>
    </ng-container>
</select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Pesquisar</button>
  </div>
</form>

