<div class="container">
<div class="row">
  <div class="col-sm">
<app-header></app-header>
</div>
</div>

  <div class="row">
    <div class="col-sm">
  <h1>Lista de lutadores</h1>
</div>
</div>

  <div class="row">
    <div class="col-sm">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input [(ngModel)]="nomePesquisado" class="form-control me-2" type="search" placeholder="Pesquisar nome..." aria-label="Search">
            <button class="btn btn-outline-success" type="button">Pesquisar</button>
          </form>
        </div>
    </div>
  </div>
      
  <div class="row">
  <div class="col-sm">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle class1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filtros
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Todos</a></li>
        <li><a class="dropdown-item" href="#">Ativos</a></li>
        <li><a class="dropdown-item" href="#">F.preta</a></li>
        <li><a class="dropdown-item" href="#">F.colorida</a></li>
        <li><a class="dropdown-item" href="#">Feminino</a></li>
        <li><a class="dropdown-item" href="#">Masculino</a></li>
      </ul>
    </div>
      </div>
      </div>


      <table class="table">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Nível</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="../../../assets/img/perfil.png" alt="Foto do lutador" style="width: 60px; height: 60px;" ></td>
            <td>John Deik</td>
            <td>33</td>
            <td>85</td>
            <td>182</td>
            <td>preta</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle class2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ações
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Editar</a></li>
                  <li><a class="dropdown-item" href="#">Inativar</a></li>
                  <li><a class="dropdown-item" href="#">Excluir</a></li>
                </ul>
              </div>
            </td>
          </tr>

          <tr>
            <td><img src="../../../assets/img/perfil.png" alt="Foto do lutador" style="width: 60px; height: 60px;" ></td>
            <td>Giovana Santos</td>
            <td>28</td>
            <td>75</td>
            <td>176</td>
            <td>colorida</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle class2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ações
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Editar</a></li>
                  <li><a class="dropdown-item" href="#">Inativar</a></li>
                  <li><a class="dropdown-item" href="#">Excluir</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  <div class="row">
    <div class="col-sm">
  <app-footer></app-footer>
</div>
</div>