@import '../components/styleSass.css';

input{ 
    margin-bottom: 3%;

}

.btn-padrao{ 
    margin-bottom: 5%;
    margin-top: 10%;
}


input{
    margin-right: 2%;
}

*{
    margin-left: 3%;

}



textarea{
    margin-left: 0px;
    width: 70%;
}

.form-floating{
    margin-bottom: 3%;
}

