<div>
    <label for="">Comentário</label>
    <div class="form-floating">
        <textarea class="form-control" #descricao placeholder="Comentário sobre o lutador...(opcional)" id="floatingTextarea2" style="height: 100px"></textarea>
    </div>

    <label>
  <input type="radio" value="lutador1" [(ngModel)]="nomeLutador"name="lutador" value="lutador1" class="hidden-radio" />
  <span class="custom-radio"  for="lutador1"></span>
  Lutador 1
</label>
<label>
  <input type="radio" value="lutador2" [(ngModel)]="nomeLutador" name="lutador" value="lutador2" class="hidden-radio" />
  <span class="custom-radio" for="lutador2"></span>
  Lutador 2
</label>

    <button (click)="adicionarComentario(descricao.value, nomeLutador)" class="btn-padrao">Adicionar Comentário</button>
</div>


